@import "colors.scss";

body {
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;
    color: $text-color-white;
}

#root {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 10fr;
}